* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  text-align: center;
  padding: 20px 0px;
  background-color: #fff;
}

.header-item {
  margin-right: 50px;
  font-weight: bold;
  font-size: 20px;
}
.banner {
  background-image: linear-gradient(
    43deg,
    rgb(65, 88, 208) 10%,
    rgb(200, 80, 192) 31%,
    rgb(255, 204, 112) 66%,
    rgb(255, 255, 255) 100%
  );
  text-align: center;
  padding-top: 120px;
  padding-bottom: 80px;
}
.banner-title {
  font-size: 55px;
  padding-bottom: 20px;
}
.banner-desc {
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.subscribe {
  border-bottom: 1px solid rgb(173, 173, 173);
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.subscribe-title {
  padding-left: 20%;
  font-size: 30px;
  font-weight: bold;
}
.subsribe-form-btn {
  padding: 12px 30px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-right: 200px;
}

.content {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 300px;
}
.content-title {
  font-size: 14px;
}
.content-desc {
  margin-top: 10px;
  font-size: 20px;
}

.content-item {
  width: 250px;
  height: 250px;
  display: inline-block;
  background-image: url("../images/aaaa.png");
  margin-right: 30px;
  margin-top: 20px;

  text-align: center;
  border-radius: 7px;
  color: #fff;
}

.content-item:not(:last-child) {
  margin-right: 30px;
}

.content-item-m {
  margin-top: 70%;
}
input {
  padding: 10px 70px 10px 2px;
  border-radius: 5px;
  border: 2px solid rgb(173, 173, 173);
  margin-right: 20px;
}
