.wrapper {
  background: linear-gradient(
    90deg,
    rgba(0, 131, 176, 0.366) 0%,
    rgba(140, 86, 255, 0.378) 66.67%
  );
  max-width: 100%;
  height: 100vh;
  padding: 0 15px;
  position: relative;
}

.container {
  background-color: #fff;
  width: 1366px;
  height: 849px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
}

.content-right {
  width: 489px;
  height: 849px;
  background-image: url("../images/Rectangle\ 001.svg");
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.content-top {
  width: 212px;
  height: 47px;
  background-color: #d9d9d9;
  margin-left: 99.5px;
  margin-top: 136px;
}

.content {
  width: 1248px;
  height: 579px;
  margin-left: 88px;
  margin-top: 25px;
  z-index: 1;
  position: relative;
}
.content-heading {
  font-size: 56px;
  line-height: 84px;
  font-weight: 600;
  font-family: "Poppins";
}

.column {
  display: flex;
  flex-direction: column;
}
.form-login {
  width: 478px;
}

input {
  height: 48px;
  z-index: 2;
  background-color: #c0dbea;
  border-radius: 4px;
  padding-left: 10px;
  border: none;
  outline: none;
}
.label-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.content-password {
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.content-username {
  margin-top: 20px;
}

.content-username label {
  margin-bottom: 7px;
}

.btn-login {
  margin: 0 auto;
  width: 150px;
  height: 46px;

  color: #fff;
  background-color: #d885a3;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 22px;
  padding-bottom: 11px;
  box-sizing: border-box;
  line-height: 24px;

  border-radius: 23px;
  position: relative;
}

.btn-login::before {
  content: "";
  background-image: url("../images/arrLogin.svg");
  position: absolute;
  width: 17.25px;
  height: 6.38px;
  right: 32.37px;
  top: 50%;
  transform: translateY(-50%);
}

.content-bottom {
  width: 478px;
  margin-top: 32px;
  margin-bottom: 103px;
  text-align: center;
}

.content-bottom-social {
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 31px;
}
.content-social-item {
  width: 125px;
  height: 50px;
  border: 1px solid #6096b4;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-sign-up {
  color: #d885a3;
}

.content-bottom-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.banner {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
}

.forgotpassword {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  opacity: 0.5;
}

.content-bottom-top {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6096b4;
}

.laptop-banner {
  width: 552px;
  height: 542px;
}

.tree-banner {
  width: 198px;
  height: 550px;
}

.input-icons img {
  width: 20px;
  height: 20px;
}
.input-icons {
  position: absolute;
  right: 15.87px;
  top: 55%;
  z-index: 99999;
}
