body {
  font-family: "Roboto";
}

.sidebar {
  width: 120px;
  height: 100vh;
  background: #ffc297;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.sidebar-logo {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-list-item {
  margin-bottom: 50px;
}

.sidebar-bottom {
  margin-bottom: 29px;
  transition: all 0.25s linear;
}
.sidebar-bottom:hover {
  transform: scale(1.2);
}

.sidebar-bottom-icon {
  width: 60px;
  height: 60px;
  background: rgb(255, 112, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  height: 100vh;
}
.setting {
  width: 342px;
  padding: 0px 15px;
  border-right: 1px solid rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
}

.setting-top {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.setting-list-item {
  margin-bottom: 50px;
  display: flex;

  align-items: center;
}

.setting-list-item img {
  margin-right: 40px;
}
.setting-title {
  font-size: 33px;
  font-weight: bold;
  margin-left: 20px;
}
.content {
  padding: 83px 134px;
}
.content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.content-top-title {
  margin-right: 524px;
  font-size: 45px;
  font-weight: bold;
}
.content-main {
  display: flex;
  gap: 64px;
}

.col-6 {
  width: 350px;
}
input {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(204, 192, 182);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 10px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.7;
  color: rgb(133, 133, 133);

  font-size: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

select {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(204, 192, 182);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input-email {
  position: relative;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 120%);
  border-radius: 5px;
}
.flex-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-btn {
  margin-top: 20px;
}
.btn {
  padding: 10px 50px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 15px;
}
.btn-cancel {
  border: 2px solid rgb(255, 112, 8);
  color: rgb(255, 112, 8);
}

.btn-cancel:hover {
  padding: 12px 50px;
  border: none;
  background-color: rgb(255, 112, 8);
  color: white;
  transition: all 0.25s linear;
}
.btn-save {
  padding: 12px 50px;
  border: none;
  background-color: rgb(255, 112, 8);
  color: white;
}
.btn-save:hover {
  border: 2px solid rgb(255, 112, 8);
  color: white;
  transition: all 0.25s ease;
}

.text-setting {
  color: rgb(133, 133, 133);
  font-size: 23px;
}
.text-main {
  font-size: 20px;
  font-weight: bold;
}
.text-setting:hover {
  color: rgb(255, 112, 8);
  transition: all 0.25s linear;
}

/* @media only screen and (max-height: 1000px) {
  .sidebar {
    width: 120px;
    position: fixed;
    background: #ffc297;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .setting {
    width: 342px;
    padding: 0px 15px;
    margin-left: 120px;
    border-right: 1px solid rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */

/* @media only screen and (max-width: 1206px) and (min-width: 800px) {
  .hide {
    display: none;
  }
  .content {
    padding: 83px 20px;
  }
  .col-6 {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper {
    display: flex;
  }
  .hide {
    display: none;
  }
  .content {
    width: 200px;
    margin-left: 120px;
  }
  .flex-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  input::placeholder {
    font-weight: bold;
    opacity: 0.7;
    color: rgb(133, 133, 133);

    font-size: 8px;
  }
} */

@media only screen and (max-width: 1264px) {
  .hide {
    display: none;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .flex-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content {
    margin: 0 auto;
  }
  .content-btn {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .col-6 {
    width: 160px;
  }
  .col-12 {
    width: 150px;
  }
  input::placeholder {
    font-weight: bold;
    opacity: 0.7;
    color: rgb(133, 133, 133);

    font-size: 10px;
  }
  .content {
    margin: 0 auto;
  }
}
